.bulk-container {
  grid-column: 1/4;
  grid-row: 3/4;
  position: relative;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 104, 105, 1) 100%
  );

  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 25vh 10vh 20vh 10vh;

  .skill-box {
    grid-column: 2/3;
    grid-row: 2/3;
    height: auto;
    width: 90%;
    justify-self: center;
    align-self: center;
    position: relative;

    display: flex;
    justify-content: center;

    li {
      height: 90px;
      width: 90px;
      margin: 1rem;

      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
      }
    }
  }

  #about_me {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-size: 3.5rem;
      font-style: italic;
    }
    div {
      height: 5px;
      width: 10rem;
      background-color: white;
    }
  }
}
