.contact-container {
  height: 80vh;
  width: 100%;

  background: linear-gradient(
    to left,
    rgb(51, 54, 70) 0%,
    rgb(37, 39, 52) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-divider {
      height: 300px;
      width: 2px;
      border-radius: 40%;
      background-color: $_offgray;
    }

    .contact_infobox {
      height: 80%;
      max-width: 45%;
      padding: 10rem;
      justify-self: flex-start;
      align-self: center;

      color: white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        margin-bottom: 2rem;
      }
      div {
        // height: 1px;
        width: 50%;
        // transform: translateX(50%);
        margin: 3rem 0;
        border-bottom: 1px solid white;
        border-radius: 50%;
      }
    }
  }
}
