.footer-container {
  grid-column: 1/4;
  grid-row: 5/6;
  height: 20vh;
  width: 100%;
  background-color: $_darkblue;

  .credits {
    height: 70%;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    span {
      color: $_offwhite;
      font-size: 1.2rem;
      a {
        margin: 0 5px;
        color: $_offgray;
        text-decoration: none;
      }
    }
  }
}
