.landing-container {
  height: 100vh;
  width: 100%;
  position: relative;

  background: linear-gradient(
    to left,
    rgb(51, 54, 70) 0%,
    rgb(37, 39, 52) 100%
  );
  color: $_offwhite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .landing_top {
    height: 73vh;
    max-width: 1080px;
    padding: 0 5rem 0 5rem;
    position: relative;

    // background-color: salmon;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 16vh 40vh 17vh;

    .personal_image {
      grid-column: 2/3;
      grid-row: 2/4;

      // height: 600px;
      // width: 200px;
      position: relative;

      background-color: rgba(0, 255, 255, 0.075);
    }

    .landing_icon {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: flex-end;
      height: 60px;
      width: 60px;
      position: relative;

      svg {
        position: absolute;
        top: -10px;
        left: -10px;
      }
    }

    .name-box {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: 6rem;

      h1 {
        font-size: 7rem;
        font-weight: 600;
        line-height: 6.5rem;
      }
      div {
        height: 6px;
        width: 48px;
        margin: 2rem 0 0 0.2rem;
        background-color: $_yellow;
      }
    }

    nav {
      grid-column: 3/4;
      grid-row: 1/2;
      align-self: flex-end;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        li {
          margin-right: 3rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          font-size: 2.3rem;
          font-weight: 500;
          div {
            height: 5px;
            width: 5px;
            margin-top: 0.5rem;
            border-radius: 50%;
            background-color: $_yellow;
          }
        }
      }
    }

    .intro-box {
      grid-column: 3/4;
      grid-row: 2/3;
      width: 300px;
      margin-top: 8rem;

      h3 {
        color: $_offgray;
        font-size: 1.6rem;
        font-weight: 400;
      }
      h2 {
        margin-top: 1rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
      p {
        margin-top: 2rem;
        color: $_offgray;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .social-links {
      grid-column: 1/2;
      grid-row: 3/4;
      // margin-left: 10rem;
      ul {
        display: flex;
        li {
          margin-right: 3rem;
        }
      }
    }

    .about-me {
      grid-column: 3/4;
      grid-row: 3/4;
      color: $_yellow;
      font-size: 1.5rem;
    }
  }
  .landing_bottom {
    height: 27vh;
    width: 100%;
    z-index: 1;

    background-color: $_darkblue;
  }
}
