.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    justify-self: center;
    align-self: center;
    translate: (-50%, -50%);
  }
}
