.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 30rem;
    width: 30rem;
    border-radius: 50px;
    background: linear-gradient(
      0deg,
      rgba(156, 197, 161, 1) 0%,
      rgba(220, 225, 222, 1) 100%
    );
  }
}
