.main-container {
  height: auto;
  width: 100vw;

  overflow: hidden;
  scrollbar-width: none;
  z: index 1;

  background: rgb(61, 64, 91);
  background: linear-gradient(
    90deg,
    rgba(61, 64, 91, 1) 0%,
    rgba(129, 178, 154, 1) 35%,
    rgba(244, 241, 222, 1) 100%
  );

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 20vh 65vh 35vh;
}
