.profile-container {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    width: 35rem;
    height: 35rem;
    border-radius: 100%;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.1);
    background-clip: padding-box;
    backdrop-filter: blur(40px);
    background: linear-gradient(
      0deg,
      rgba(33, 104, 105, 1) 0%,
      rgba(73, 160, 120, 1) 100%
    );

    img {
      height: 25rem;
      width: 25rem;
      margin: 2rem;
      border-radius: 180%;
    }
    h2 {
      font-style: italic;
    }
  }

  section {
    margin-left: 10rem;

    display: flex;
    flex-direction: column;
  }
}
