#programmer_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  animation: fade-2-black 2s ease;
}
#programmer_logo path:nth-child(1) {
  stroke-dasharray: 189;
  stroke-dashoffset: 189;
  animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(2) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(3) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(4) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(5) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(6) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(7) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(8) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(9) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  animation-fill-mode: forwards;
  stroke: black;
}
#programmer_logo path:nth-child(10) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade-2-black {
  to {
    fill: black;
  }
}
