.profile-container {
  grid-column: 1/4;
  grid-row: 1/2;
  position: relative;

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 15vh 91vh;

  #profile_background {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;

    opacity: 40%;
  }

  #profile_pic-container {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 40rem;
    height: 40rem;
    justify-self: center;
    align-self: center;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    border-radius: 100%;
    border: 8px double black;
    background-clip: padding-box;
    backdrop-filter: blur(40px);
    box-shadow: 5px 5px 30px black;

    img {
      height: 33rem;
      width: 33rem;
      margin: 2rem;
      border-radius: 180%;
      border: 5px solid black;
    }
    h2 {
      font-style: italic;
    }
  }

  section {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 10rem;
    position: relative;

    color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p {
      position: relative;
      font-size: 3rem;
      right: 100px;
    }
    h1 {
      position: relative;
      left: 50px;
      color: white;
      font-size: 4rem;
      font-weight: 800;
    }
    h2 {
      font-size: 2.5rem;
    }

    #profile_svg {
      height: 8rem;
      width: 100%;
      position: absolute;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
