.splash-container {
  grid-column: 1/4;
  grid-row: 1/2;
  position: relative;

  background-color: black;

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 12vh 30vh 55vh;

  #splash_background {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media("<=desktop") {
      height: 100%;
      width: auto;
    }
  }

  section {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 8em;
    position: relative;
    mix-blend-mode: hard-light;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      position: relative;
      // left: 40px;

      font-size: 5rem;
      font-weight: 800;
      text-align: center;
    }
    h2 {
      position: relative;
      // left: 150px;

      font-size: 3rem;
      font-weight: 400;
      font-style: italic;

      text-align: center;
    }

    #splash_svg {
      height: 8rem;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      svg {
        justify-self: start;
        align-self: flex-end;
      }
    }
  }

  .next_arrow-container {
    position: absolute;
    max-heigth: 20vh;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .next_arrow {
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
