.unique {
  height: auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viget-container {
  background-color: rgba(0, 255, 255, 0.5);
}
.branchtech-container {
  background-color: rgba(250, 128, 114, 0.5);
}
.carbonfive-container {
  background-color: rgba(244, 165, 96, 0.5);
}
