* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

li {
  font-size: 2rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

#root {
  overflow-x: hidden;
  scrollbar-width: none;
  background-size: cover;
  background-position: center;
}

.main-container {
  min-height: 100vh;
  width: 100vw;
  background-color: #dce1de;
  overflow: hidden;
  scrollbar-width: none;
  z: index 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr 10rem;
      grid-template-columns: 10rem 1fr 10rem;
  -ms-grid-rows: 15vh 85vh 106vh auto 106vh 20vh;
      grid-template-rows: 15vh 85vh 106vh auto 106vh 20vh;
}

.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-container svg {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  translate: -50%, -50%;
}

.navbar-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  min-height: 15vh;
  margin: auto;
}

.navbar-container nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 1fr 3fr 10vw;
      grid-template-columns: 10vw 1fr 3fr 10vw;
  -ms-grid-rows: 15vh;
      grid-template-rows: 15vh;
}

.navbar-container nav li {
  padding: 1rem;
}

.navbar-container nav .nav-linkbox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 60%;
  width: 50rem;
  color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-linkbox a {
  color: white;
  text-decoration: none;
}

.navbar-container nav .nav-linkbox li {
  height: 5rem;
  width: 14rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-linkbox li:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
}

.navbar-container nav .nav-linkbox li:hover a {
  color: black;
}

.navbar-container nav .nav-socialbox {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-right: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-socialbox a {
  height: 7rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-socialbox a img {
  height: 4rem;
  width: 4rem;
}

.navbar-container nav .nav-socialbox a:nth-child(2) img {
  height: 3rem;
  width: 3rem;
}

.navbar-container nav .call_to_action {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  background-color: #216869;
  padding: 1.2rem 2.5rem;
  border-radius: 5px;
  border: 4px solid black;
  -webkit-box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
          box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
  cursor: pointer;
}

.navbar-container nav .call_to_action:hover {
  color: black;
  background-color: #fce582;
  border: 4px solid #fdd10c;
}

.profile-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 3fr 5fr 1fr;
      grid-template-columns: 1fr 3fr 5fr 1fr;
}

.profile-container #profile_pic-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 40rem;
  height: 40rem;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  border-radius: 100%;
  border: 8px double black;
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-box-shadow: 5px 5px 30px black;
          box-shadow: 5px 5px 30px black;
}

.profile-container #profile_pic-container img {
  height: 33rem;
  width: 33rem;
  margin: 2rem;
  border-radius: 180%;
  border: 5px solid black;
}

.profile-container #profile_pic-container h2 {
  font-style: italic;
}

.profile-container section {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-container section .profile_block {
  position: relative;
  background-color: sandybrown;
}

.profile-container section #profile_block--bg {
  height: 8rem;
  width: 100%;
  position: absolute;
  left: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile-container section #profile_block--bg svg {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#216869));
  background: linear-gradient(0deg, white 0%, #216869 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 80vw 10vw;
      grid-template-columns: 10vw 80vw 10vw;
  -ms-grid-rows: 20vh 20vh 60vh;
      grid-template-rows: 20vh 20vh 60vh;
}

.about-container #about_me {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container #about_me h1 {
  color: white;
  font-size: 3.5rem;
  font-style: italic;
}

.about-container #about_me div {
  height: 5px;
  width: 10rem;
  background-color: white;
}

.about-container .skill-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: auto;
  width: 90%;
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  border: 0.5px solid white;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(83%, #49a078), to(#49a078));
  background: linear-gradient(90deg, white 0%, #49a078 83%, #49a078 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .skill-box li {
  height: 90px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .skill-box li img {
  height: 80%;
}

.about-container .pitch-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 100%;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 5% 5% 45%;
      grid-template-columns: 45% 5% 5% 45%;
  -ms-grid-rows: 15% 35% 35% 15%;
      grid-template-rows: 15% 35% 35% 15%;
}

.about-container .pitch-box .text-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  height: 100%;
  width: 100%;
  padding: 3rem 6rem 3rem 3rem;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#9cc5a1));
  background: linear-gradient(0deg, white 0%, #9cc5a1 100%);
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
}

.about-container .pitch-box .text-block h3 {
  color: #216869;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-container .pitch-box .text-block p {
  padding-right: 2rem;
  color: #504f4f;
  font-weight: 100;
  text-align: start;
}

.about-container .pitch-box .text-block li {
  width: 15rem;
  margin: 2rem;
  color: white;
  background-color: #216869;
  padding: 1.2rem 2.5rem;
  border-radius: 5px;
  border: 4px solid black;
  -webkit-box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
          box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
  cursor: pointer;
}

.about-container .pitch-box .text-block li:hover {
  color: black;
  background-color: #fce582;
  border: 4px solid #fdd10c;
}

.about-container .pitch-box .trait-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dce1de), to(white));
  background: linear-gradient(0deg, #dce1de 0%, white 100%);
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .pitch-box .trait-box li {
  height: 100%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .pitch-box .trait-box li div {
  height: 11rem;
  width: 11rem;
  margin-top: 3rem;
  border: 5px solid #216869;
  border-radius: 90%;
  background: -webkit-gradient(linear, left bottom, left top, from(#216869), to(white));
  background: linear-gradient(0deg, #216869 0%, white 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .pitch-box .trait-box li h3 {
  margin-top: 1.2rem;
  color: #2c2c2c;
}

.about-container .pitch-box .trait-box li p {
  height: 30%;
  padding: 1rem;
  color: #504f4f;
  font-size: 1.4rem;
  text-align: center;
}

.portfolio-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  position: relative;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#216869));
  background: linear-gradient(0deg, white 0%, #216869 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 90vw 5vw;
      grid-template-columns: 5vw 90vw 5vw;
  -ms-grid-rows: 20vh auto 5vh;
      grid-template-rows: 20vh auto 5vh;
}

.portfolio-container #portfolio {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-container #portfolio h1 {
  color: white;
  font-size: 3.5rem;
  font-style: italic;
}

.portfolio-container #portfolio div {
  height: 5px;
  width: 10rem;
  background-color: white;
}

.portfolio-container .project-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  min-height: 86vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-container .project-box .project {
  min-height: 50vh;
  width: 90%;
  margin: 3rem;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 4% 38%;
      grid-template-columns: 58% 4% 38%;
  -ms-grid-rows: 15% 10% 65% 10%;
      grid-template-rows: 15% 10% 65% 10%;
}

.portfolio-container .project-box .project .project_slides {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: -webkit-gradient(linear, left bottom, left top, from(#dce1de), to(white));
  background: linear-gradient(0deg, #dce1de 0%, white 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 3;
}

.portfolio-container .project-box .project .project_description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  heigth: auto;
  padding: 1rem 2rem 0 12%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#9cc5a1));
  background: linear-gradient(0deg, white 0%, #9cc5a1 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 2;
}

.portfolio-container .project-box .project .project_description h2 {
  text-align: right;
  color: #216869;
  font-style: italic;
}

.portfolio-container .project-box .project .project_description h3 {
  margin-bottom: 1rem;
  text-align: right;
  color: #1f2421;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.portfolio-container .project-box .project .project_description p {
  text-align: start;
  color: #504f4f;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
}

.portfolio-container .project-box .project:nth-child(2) {
  min-height: 50vh;
  width: 90%;
  margin: 3rem;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 4% 58%;
      grid-template-columns: 38% 4% 58%;
  -ms-grid-rows: 15% 10% 65% 10%;
      grid-template-rows: 15% 10% 65% 10%;
}

.portfolio-container .project-box .project:nth-child(2) div:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: -webkit-gradient(linear, left bottom, left top, from(#dce1de), to(white));
  background: linear-gradient(0deg, #dce1de 0%, white 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 3;
}

.portfolio-container .project-box .project:nth-child(2) div:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  heigth: auto;
  padding: 1rem 12% 0 2rem;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#9cc5a1));
  background: linear-gradient(0deg, white 0%, #9cc5a1 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 2;
}

.portfolio-container .project-box .project:nth-child(2) div:nth-child(2) h2 {
  text-align: left;
  color: #216869;
  font-style: italic;
}

.portfolio-container .project-box .project:nth-child(2) div:nth-child(2) h3 {
  margin-bottom: 1rem;
  text-align: left;
  color: #1f2421;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.portfolio-container .project-box .project:nth-child(2) div:nth-child(2) p {
  text-align: start;
  color: #504f4f;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
}

.resume-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  position: relative;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#216869));
  background: linear-gradient(0deg, white 0%, #216869 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 80vw 10vw;
      grid-template-columns: 10vw 80vw 10vw;
  -ms-grid-rows: 20vh 20vh 50vh 10vh;
      grid-template-rows: 20vh 20vh 50vh 10vh;
}

.resume-container #resume {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-container #resume h1 {
  color: white;
  font-size: 3.5rem;
  font-style: italic;
}

.resume-container #resume div {
  height: 5px;
  width: 10rem;
  background-color: white;
}

.footer-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  height: 20vh;
  width: 100%;
  background-color: #1f2421;
}

#webdev_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

/* "W" */
#webdev_logo path:nth-child(2) {
  stroke-dasharray: 349.7;
  stroke-dashoffset: 349.7;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(3) {
  stroke-dasharray: 223.9;
  stroke-dashoffset: 223.9;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "b" */
#webdev_logo path:nth-child(4) {
  stroke-dasharray: 230.4;
  stroke-dashoffset: 230.4;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "D" */
#webdev_logo path:nth-child(5) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(6) {
  stroke-dasharray: 165.9;
  stroke-dashoffset: 165.9;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "v" */
#webdev_logo path:nth-child(7) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(8) {
  stroke-dasharray: 165.9;
  stroke-dashoffset: 165.9;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "l" */
#webdev_logo path:nth-child(9) {
  stroke-dasharray: 116.5;
  stroke-dashoffset: 116.5;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "o" */
#webdev_logo path:nth-child(10) {
  stroke-dasharray: 234.6;
  stroke-dashoffset: 234.6;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "p" */
#webdev_logo path:nth-child(11) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* e inner stroke */
#webdev_logo path:nth-child(12) {
  stroke-dasharray: 166.4;
  stroke-dashoffset: 166.4;
  -webkit-animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
          animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "r" */
#webdev_logo path:nth-child(13) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  -webkit-animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
          animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fade-2-black {
  to {
    fill: black;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#programmer_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#programmer_logo path:nth-child(1) {
  stroke-dasharray: 189;
  stroke-dashoffset: 189;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(2) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(3) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(4) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(5) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(6) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(7) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(8) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(9) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(10) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#designer_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#designer_logo path:nth-child(1) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(2) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(3) {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(4) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(5) {
  stroke-dasharray: 222;
  stroke-dashoffset: 222;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(6) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(7) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(8) {
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(9) {
  stroke-dasharray: 133;
  stroke-dashoffset: 133;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(10) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(11) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  -webkit-animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
          animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(12) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
          animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(13) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 3.6s, fade-2-black 2s ease 5.6s;
          animation: line-anim 2s ease 3.6s, fade-2-black 2s ease 5.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#seo_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#seo_logo path:nth-child(1) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(2) {
  stroke-dasharray: 208;
  stroke-dashoffset: 208;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(3) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(4) {
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(5) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(6) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(7) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(8) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(9) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(10) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}
/*# sourceMappingURL=index.css.map */