//Package Imports
// @import "../../node_modules/"
// @import "../../node_modules/include-media/dist/include-media.scss";

// Variable Definitions
$_min_content_height: 90vh;

// Default Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  font-family: Montserrat, sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
}
#root {
  overflow-x: hidden;
  scrollbar-width: none;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    90deg,
    rgba(61, 64, 91, 1) 0%,
    rgba(129, 178, 154, 1) 35%,
    rgba(244, 241, 222, 1) 100%
  );
}

@import "main";
@import "loading";
@import "navbar";
@import "profile";
@import "transition";
