// Variable Definitions
$breakpoints: (
  phone: 620px,
  tablet: 768px,
  desktop: 1024px,
  splash_image: 905px,
);
$_min_content_height: 90vh;
$_cyberpunk-green: rgba(37, 226, 110, 1);
$_muted-green: #216869;
$_yellow: #efa649;
$_darkyellow: #b47624;
$_offwhite: #ebebec;
$_offgray: #999aa2;
$_darkblue: #1d1e29;

// Default Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: $_offwhite;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  font-weight: 400;
}
h3 {
  color: $_offgray;
  font-size: 1.6rem;
  font-weight: 400;
}
p,
pre {
  color: $_offgray;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
li {
  font-size: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.scrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
}
#root {
  overflow-x: hidden;
  scrollbar-width: none;
  background-size: cover;
  background-position: center;
}

@import "../../node_modules/include-media/dist/include-media";

@import "forms";
@import "main";
@import "landing";
@import "skills";
@import "projects";
@import "loading";
@import "navbar";
@import "splash";
@import "about";
@import "portfolio";
@import "resume";
@import "contact";
@import "footer";
