//Package Imports
// @import "../../node_modules/"
// @import "../../node_modules/include-media/dist/include-media.scss";

// Variable Definitions
$_min_content_height: 90vh;

// Default Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
}
#root {
  overflow-x: hidden;
  scrollbar-width: none;
  background-size: cover;
  background-position: center;
}

@import "main";
@import "loading";
@import "navbar";
@import "profile";
@import "bulk";
@import "webdevsvg";
@import "programmersvg";
@import "designersvg";
@import "seosvg";
