* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ebebec;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

h3 {
  color: #999aa2;
  font-size: 1.6rem;
  font-weight: 400;
}

p,
pre {
  color: #999aa2;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

li {
  font-size: 2rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.scrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
}

#root {
  overflow-x: hidden;
  scrollbar-width: none;
  background-size: cover;
  background-position: center;
}

.contact-form {
  height: 100%;
  width: 45%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form input {
  height: 5rem;
  width: 99%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 6px;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}

.contact-form textarea {
  height: 20rem;
  width: 99%;
  margin: 0.5rem 0;
  padding: 1rem;
  color: #1d1e29;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 6px;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}

.contact-form div {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form div:nth-child(1) input {
  width: 49%;
}

.contact-form div:nth-child(4) {
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form div:nth-child(4) button {
  height: 5rem;
  width: 48%;
  background-color: #efa649;
  border: 4px solid #b47624;
  border-radius: 8px;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  color: #1d1e29;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  scrollbar-width: none;
  z: index 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, right top, left top, from(#333646), to(#252734));
  background: linear-gradient(to left, #333646 0%, #252734 100%);
  color: #ebebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing_top {
  height: 70vh;
  max-width: 1080px;
  padding: 0 5rem 0 5rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr 1fr;
      grid-template-columns: 1fr 0.7fr 1fr;
  -ms-grid-rows: 16vh 40vh 17vh;
      grid-template-rows: 16vh 40vh 17vh;
}

.landing-container .landing_top .personal_image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: relative;
}

.landing-container .landing_top .personal_image img {
  height: calc(55rem + 5%);
  width: auto;
  position: absolute;
  bottom: 0;
  left: -20rem;
  z-index: 0;
}

.landing-container .landing_top .landing_icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 60px;
  width: 60px;
  position: relative;
}

.landing-container .landing_top .landing_icon svg {
  position: absolute;
  top: -10px;
  left: -10px;
}

.landing-container .landing_top .name-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 6rem;
  z-index: 2;
}

.landing-container .landing_top .name-box h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 6.5rem;
  z-index: 2;
}

.landing-container .landing_top .name-box div {
  height: 6px;
  width: 48px;
  margin: 2rem 0 0 0.2rem;
  background-color: #efa649;
}

.landing-container .landing_top nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.landing-container .landing_top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-container .landing_top nav ul li {
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999aa2;
  font-size: 2.3rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing_top nav ul li a {
  text-decoration: none;
  color: #999aa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing_top nav ul li a div {
  height: 6px;
  width: 6px;
  margin-top: 0.5rem;
  border-radius: 50%;
  background-color: none;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.landing-container .landing_top nav ul li a:hover {
  color: #ebebec;
}

.landing-container .landing_top nav ul li a:hover div {
  background-color: #efa649;
}

.landing-container .landing_top .intro-box {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 300px;
  margin-top: 8rem;
}

.landing-container .landing_top .intro-box h2 {
  margin-top: 1rem;
}

.landing-container .landing_top .intro-box p {
  margin-top: 2rem;
}

.landing-container .landing_top .social-links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.landing-container .landing_top .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-container .landing_top .social-links ul li {
  margin-right: 1.5rem;
  cursor: pointer;
}

.landing-container .landing_top .social-links ul li svg {
  height: 30px;
  width: 30px;
}

.landing-container .landing_top .about-me {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
  color: #efa649;
  font-size: 1.5rem;
}

.landing-container .landing_top .about-me div:nth-child(1) {
  width: 10rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-container .landing_top .about-me div:nth-child(1) a {
  text-decoration: none;
  color: #efa649;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-container .landing_top .about-me div:nth-child(1) svg {
  margin: 1px 0 0 1rem;
}

.landing-container .landing_top .about-me div:nth-child(1) div {
  height: 1px;
  width: 0;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: none;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.landing-container .landing_top .about-me div:nth-child(1):hover div {
  width: 9rem;
  background-color: #efa649;
}

.landing-container .landing_bottom {
  height: 30vh;
  width: 100%;
  padding: 0 5rem 0 5rem;
  position: relative;
  z-index: 2;
  background-color: #1d1e29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container .landing_bottom section {
  width: 100%;
  max-width: 1080px;
  padding: 0 5rem;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing_bottom section .contact-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.landing-container .landing_bottom section .contact-box h2 {
  margin-top: 1rem;
}

.landing-container .landing_bottom section .contact-box p {
  margin-top: 1rem;
}

.landing-container .landing_bottom section .contact-box .contact_link {
  height: 2.3rem;
  width: 12rem;
  position: relative;
  color: #efa649;
  font-size: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-container .landing_bottom section .contact-box .contact_link a {
  text-decoration: none;
  color: #efa649;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-container .landing_bottom section .contact-box .contact_link svg {
  margin: 1px 0 0 1rem;
}

.landing-container .landing_bottom section .contact-box .contact_link div {
  height: 1px;
  width: 0;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: none;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.landing-container .landing_bottom section .contact-box .contact_link:hover div {
  width: 11.4rem;
  background-color: #efa649;
}

.landing-container .landing_bottom section div:nth-child(2) {
  max-width: 500px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.landing-container .landing_bottom section div:nth-child(2) p {
  margin-top: 0.5rem;
}

.skills-container {
  min-height: 100vh;
  width: 100%;
  padding: 5rem 0;
  background-color: #1d1e29;
}

.skills-container section {
  height: 75vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container section #shape_one {
  height: 1000px;
  width: 1000px;
  position: absolute;
  top: -20%;
  right: -30%;
  z-index: 2;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #efa649), to(white));
  background: linear-gradient(90deg, #efa649 40%, white 100%);
}

.skills-container section #shape_two {
  height: 800px;
  width: 800px;
  position: absolute;
  bottom: -50%;
  left: -30%;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  z-index: 2;
  background: linear-gradient(250deg, #efa649 40%, white 100%);
}

.skills-container section #shape_three {
  height: 800px;
  width: 800px;
  position: absolute;
  top: 35%;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #efa649), to(white));
  background: linear-gradient(90deg, #efa649 40%, white 100%);
}

.skills-container section .text-box {
  height: 100%;
  width: 30%;
  padding: 3rem;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skills-container section .text-box h1 {
  color: #ebebec;
  font-size: 5rem;
}

.skills-container section .text-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container section .text-box ul li {
  margin-right: 0.8rem;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container section .text-box ul li img {
  height: 40px;
  width: 40px;
}

.skills-container section .text-box ul .icon_scrim {
  height: 40px;
  width: 40px;
  margin: 0 0.7rem;
  padding: 0.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(white 0%, rgba(255, 255, 255, 0.7) 100%);
}

.skills-container section .text-box ul .icon_scrim img {
  height: 35px;
  width: 35px;
}

.skills-container section .text-box h3 {
  margin: 1rem 0 0.5rem 0;
  font-size: 2rem;
}

.skills-container section .text-box p {
  color: #ebebec;
}

.skills-container section .glass_panel {
  height: 80%;
  width: 50%;
  padding: 3rem;
  overflow: hidden;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 24px;
  -webkit-box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.5), 2rem 2rem 3rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.5), 2rem 2rem 3rem rgba(255, 255, 255, 0.3);
  background: linear-gradient(45deg, rgba(248, 248, 255, 0.39) 0%, rgba(218, 218, 221, 0.39) 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container section .glass_panel div {
  height: 100%;
  width: 100%;
}

.skills-container section .glass_panel div svg {
  max-height: 100%;
  max-width: 100%;
}

.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-container svg {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  translate: -50%, -50%;
}

.navbar-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  min-height: 12vh;
  margin: auto;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1rem 5rem black;
          box-shadow: 0 1rem 5rem black;
  z-index: 5;
}

@media (max-width: 1023px) {
  .navbar-container {
    background-color: white;
    -webkit-box-shadow: 0 3rem 8rem black;
            box-shadow: 0 3rem 8rem black;
  }
}

.navbar-container nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 1fr 3fr 10vw;
      grid-template-columns: 10vw 1fr 3fr 10vw;
  -ms-grid-rows: 12vh;
      grid-template-rows: 12vh;
}

.navbar-container nav li {
  padding: 1rem;
}

.navbar-container nav .nav-linkbox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 60%;
  width: 50rem;
  color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-linkbox a {
  color: white;
  text-decoration: none;
}

.navbar-container nav .nav-linkbox li {
  height: 5rem;
  width: 14rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-linkbox li:hover {
  color: black;
  font-weight: 700;
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.navbar-container nav .nav-linkbox li:hover a {
  color: black;
}

@media (max-width: 1023px) {
  .navbar-container nav .nav-linkbox {
    display: none;
  }
}

.navbar-container nav .nav-socialbox {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-right: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-socialbox a {
  height: 7rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .nav-socialbox a img {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 1023px) {
  .navbar-container nav .nav-socialbox a {
    height: 80%;
    width: auto;
  }
  .navbar-container nav .nav-socialbox a img {
    height: 8rem;
    width: 8rem;
    margin: 0 2rem;
  }
}

@media (max-width: 1023px) {
  .navbar-container nav .nav-socialbox {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.navbar-container nav .call_to_action {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  height: 4.8rem;
  width: 16rem;
  padding: 1.2rem 2.5rem;
  margin: 1rem;
  cursor: pointer;
  color: black;
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
          box-shadow: 10px 10px 20px rgba(31, 36, 33, 0.5);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .call_to_action:hover {
  color: white;
  background-color: black;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

@media (max-width: 1023px) {
  .navbar-container nav .call_to_action {
    height: 11rem;
    width: 24rem;
    margin-right: 4rem;
    color: white;
    font-size: 2.5rem;
    border-radius: 20px;
    background-color: black;
  }
}

.navbar-container nav .hamburger {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: none;
  position: relative;
}

@media (max-width: 1023px) {
  .navbar-container nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-container nav .hamburger #hamburger_button {
    height: 60%;
    width: 60%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-container nav .hamburger #hamburger_button div {
    width: 8rem;
    height: 12px;
    margin: 0.8rem 0;
    background-color: black;
    border-radius: 5px;
  }
}

.navbar-container nav .hamburger .drop_closed {
  display: none;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.navbar-container nav .hamburger .drop_open {
  position: absolute;
  top: 12vh;
  left: 0;
  height: auto;
  width: 50vw;
  background-color: white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.navbar-container nav .hamburger .drop_open a {
  height: 8rem;
  width: 100%;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .hamburger .drop_open a div {
  height: 90%;
  width: 90%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  -webkit-box-shadow: 2rem 2rem 30rem rgba(31, 30, 30, 0.5);
          box-shadow: 2rem 2rem 30rem rgba(31, 30, 30, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav .hamburger .drop_open a div span {
  height: 100%;
  width: 100%;
  text-align: center;
}

.navbar-container nav .hamburger .drop_open a div:hover {
  color: gray;
  background-color: black;
}

@media (max-width: 1023px) {
  .navbar-container nav {
    -ms-grid-columns: 25vw 1fr 10vw;
        grid-template-columns: 25vw 1fr 10vw;
  }
}

.splash-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 12vh 30vh 55vh;
      grid-template-rows: 12vh 30vh 55vh;
}

.splash-container #splash_background {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1024px) {
  .splash-container #splash_background {
    height: 100%;
    width: auto;
  }
}

.splash-container section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 12em;
  position: relative;
  mix-blend-mode: hard-light;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-container section h1 {
  position: relative;
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
}

.splash-container section h2 {
  position: relative;
  font-size: 2.8rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

.splash-container section #splash_svg {
  height: 8rem;
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-container section #splash_svg svg {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.splash-container .next_arrow-container {
  position: absolute;
  max-heigth: 20vh;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-container .next_arrow-container .next_arrow {
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-container .next_arrow-container a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-container .next_arrow-container a svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container {
  min-height: 100vh;
  width: 100%;
  padding: 3rem 2rem 8rem 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #1d1e29), to(#333646));
  background: linear-gradient(#1d1e29 20%, #333646 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container div:nth-child(1) {
  min-height: 15rem;
  width: 90%;
  margin: 2rem 0 5rem 0;
  padding: 3rem 15rem;
}

.about-container div:nth-child(1) h1 {
  color: #efa649;
  font-size: 5rem;
}

.about-container div:nth-child(1) p {
  font-size: 2rem;
}

.about-container ul {
  height: 30rem;
  width: 80%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container ul li {
  height: 100%;
  width: 25%;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 2px;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.8), -1rem -1rem 2rem rgba(0, 0, 0, 0.8);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.8), -1rem -1rem 2rem rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#999aa2), to(#ebebec));
  background: linear-gradient(#999aa2 0%, #ebebec 100%);
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container ul li h1 {
  margin-top: 3.5rem;
  color: #1d1e29;
  font-size: 3.5rem;
  text-shadow: 0.5rem 0.5rem 1rem #ebebec;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.about-container ul li img {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.about-container ul li div {
  height: 100%;
  width: 110%;
  padding: 2rem;
  position: absolute;
  bottom: -100%;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, from(#999aa2), to(#ebebec));
  background: linear-gradient(#999aa2 0%, #ebebec 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.about-container ul li div h2 {
  margin-bottom: 1rem;
  color: #1d1e29;
  font-size: 3.5rem;
}

.about-container ul li div p {
  width: 90%;
  color: #1d1e29;
  font-size: 1.8rem;
}

.about-container ul li:hover {
  height: 120%;
}

.about-container ul li:hover h1 {
  font-size: 5.1rem;
}

.about-container ul li:hover img {
  width: 140%;
}

.about-container ul li:hover div {
  bottom: 0;
}

.portfolio-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(black));
  background: linear-gradient(0deg, white 0%, black 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 90vw 5vw;
      grid-template-columns: 5vw 90vw 5vw;
  -ms-grid-rows: 20vh auto 5vh;
      grid-template-rows: 20vh auto 5vh;
}

@media (min-width: 321px) and (max-width: 768px) {
  .portfolio-container {
    background: green;
  }
}

.portfolio-container #portfolio--head {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-container #portfolio--head h1 {
  color: white;
  font-size: 3.5rem;
  font-style: italic;
}

.portfolio-container #portfolio--head div {
  height: 5px;
  width: 10rem;
  background-color: white;
}

.portfolio-container .project-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  min-height: 86vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-container .project-box .project {
  min-height: 50vh;
  width: 90%;
  margin: 3rem;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 4% 38%;
      grid-template-columns: 58% 4% 38%;
  -ms-grid-rows: 15% 10% 65% 10%;
      grid-template-rows: 15% 10% 65% 10%;
}

.portfolio-container .project-box .project .project_slides {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: -webkit-gradient(linear, left bottom, left top, from(#dce1de), to(white));
  background: linear-gradient(0deg, #dce1de 0%, white 100%);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 3;
}

.portfolio-container .project-box .project .project_description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  heigth: auto;
  padding: 1rem 2rem 0 12%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#25e26e));
  background: linear-gradient(0deg, white 0%, #25e26e 100%);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
  z-index: 2;
}

.portfolio-container .project-box .project .project_description h2 {
  text-align: right;
  color: #216869;
  font-style: italic;
}

.portfolio-container .project-box .project .project_description h3 {
  margin-bottom: 1rem;
  text-align: right;
  color: #1f2421;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.portfolio-container .project-box .project .project_description p {
  text-align: start;
  color: #504f4f;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
}

.portfolio-container .project-box .project:nth-child(2) {
  -ms-grid-columns: 38% 4% 58%;
      grid-template-columns: 38% 4% 58%;
  -ms-grid-rows: 15% 10% 65% 10%;
      grid-template-rows: 15% 10% 65% 10%;
}

.portfolio-container .project-box .project:nth-child(2) .project_slides {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: -webkit-gradient(linear, left bottom, left top, from(#dce1de), to(white));
  background: linear-gradient(0deg, #dce1de 0%, white 100%);
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
}

.portfolio-container .project-box .project:nth-child(2) .project_description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  height: auto;
  padding: 1rem 12% 0 2rem;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#25e26e));
  background: linear-gradient(0deg, white 0%, #25e26e 100%);
  -webkit-box-shadow: 5px 5px 5px #b8b8b8;
          box-shadow: 5px 5px 5px #b8b8b8;
}

.portfolio-container .project-box .project:nth-child(2) .project_description h2 {
  text-align: left;
}

.portfolio-container .project-box .project:nth-child(2) .project_description h3 {
  text-align: left;
}

.resume-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  position: relative;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(black));
  background: linear-gradient(0deg, white 0%, black 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 80vw 10vw;
      grid-template-columns: 10vw 80vw 10vw;
  -ms-grid-rows: 20vh 20vh 50vh 10vh;
      grid-template-rows: 20vh 20vh 50vh 10vh;
}

.resume-container #resume--head {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-container #resume--head h1 {
  color: white;
  font-size: 3.5rem;
  font-style: italic;
}

.resume-container #resume--head div {
  height: 5px;
  width: 10rem;
  background-color: white;
}

.contact-container {
  height: 80vh;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#333646), to(#252734));
  background: linear-gradient(to left, #333646 0%, #252734 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container section .section-divider {
  height: 300px;
  width: 2px;
  border-radius: 40%;
  background-color: #999aa2;
}

.contact-container section .contact_infobox {
  height: 80%;
  max-width: 45%;
  padding: 10rem;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-container section .contact_infobox h2 {
  margin-bottom: 2rem;
}

.contact-container section .contact_infobox div {
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin: 3rem 0;
  border-bottom: 1px solid white;
  border-radius: 50%;
}

.footer-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  height: 20vh;
  width: 100%;
  position: relative;
  background-color: #1d1e29;
}

.footer-container #footer_return {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: #1d1e29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container #footer_return svg {
  height: 90%;
  width: 90%;
}

.footer-container .credits {
  height: 70%;
  width: 50%;
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .credits span {
  color: #ebebec;
  font-size: 1.2rem;
}

.footer-container .credits span a {
  margin: 0 5px;
  color: #999aa2;
  text-decoration: none;
}

#webdev_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

/* "W" */
#webdev_logo path:nth-child(2) {
  stroke-dasharray: 349.7;
  stroke-dashoffset: 349.7;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(3) {
  stroke-dasharray: 223.9;
  stroke-dashoffset: 223.9;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "b" */
#webdev_logo path:nth-child(4) {
  stroke-dasharray: 230.4;
  stroke-dashoffset: 230.4;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "D" */
#webdev_logo path:nth-child(5) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(6) {
  stroke-dasharray: 165.9;
  stroke-dashoffset: 165.9;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "v" */
#webdev_logo path:nth-child(7) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "e" */
#webdev_logo path:nth-child(8) {
  stroke-dasharray: 165.9;
  stroke-dashoffset: 165.9;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "l" */
#webdev_logo path:nth-child(9) {
  stroke-dasharray: 116.5;
  stroke-dashoffset: 116.5;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "o" */
#webdev_logo path:nth-child(10) {
  stroke-dasharray: 234.6;
  stroke-dashoffset: 234.6;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "p" */
#webdev_logo path:nth-child(11) {
  stroke-dasharray: 200.7;
  stroke-dashoffset: 200.7;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* e inner stroke */
#webdev_logo path:nth-child(12) {
  stroke-dasharray: 166.4;
  stroke-dashoffset: 166.4;
  -webkit-animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
          animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

/* "r" */
#webdev_logo path:nth-child(13) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  -webkit-animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
          animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fade-2-black {
  to {
    fill: black;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#programmer_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#programmer_logo path:nth-child(1) {
  stroke-dasharray: 189;
  stroke-dashoffset: 189;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(2) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(3) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(4) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(5) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(6) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(7) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(8) {
  stroke-dasharray: 293;
  stroke-dashoffset: 293;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(9) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#programmer_logo path:nth-child(10) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#designer_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#designer_logo path:nth-child(1) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(2) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(3) {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(4) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(5) {
  stroke-dasharray: 222;
  stroke-dashoffset: 222;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(6) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(7) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(8) {
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(9) {
  stroke-dasharray: 133;
  stroke-dashoffset: 133;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(10) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(11) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  -webkit-animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
          animation: line-anim 2s ease 3s, fade-2-black 2s ease 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(12) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
          animation: line-anim 2s ease 3.3s, fade-2-black 2s ease 5.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#designer_logo path:nth-child(13) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 3.6s, fade-2-black 2s ease 5.6s;
          animation: line-anim 2s ease 3.6s, fade-2-black 2s ease 5.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#seo_logo {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  -webkit-animation: fade-2-black 2s ease;
          animation: fade-2-black 2s ease;
}

#seo_logo path:nth-child(1) {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  -webkit-animation: line-anim 2s ease, fade-2-black 2s ease 2s;
          animation: line-anim 2s ease, fade-2-black 2s ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(2) {
  stroke-dasharray: 208;
  stroke-dashoffset: 208;
  -webkit-animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
          animation: line-anim 2s ease 0.3s, fade-2-black 2s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(3) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  -webkit-animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
          animation: line-anim 2s ease 0.6s, fade-2-black 2s ease 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(4) {
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
  -webkit-animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
          animation: line-anim 2s ease 0.9s, fade-2-black 2s ease 2.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(5) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
          animation: line-anim 2s ease 1.2s, fade-2-black 2s ease 3.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(6) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  -webkit-animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
          animation: line-anim 2s ease 1.5s, fade-2-black 2s ease 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(7) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
          animation: line-anim 2s ease 1.8s, fade-2-black 2s ease 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(8) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  -webkit-animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
          animation: line-anim 2s ease 2.1s, fade-2-black 2s ease 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(9) {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  -webkit-animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
          animation: line-anim 2s ease 2.4s, fade-2-black 2s ease 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

#seo_logo path:nth-child(10) {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
  -webkit-animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
          animation: line-anim 2s ease 2.7s, fade-2-black 2s ease 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  stroke: black;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-2-black {
  to {
    fill: black;
  }
}

#downarrowsvg {
  fill: #000000;
}

#downarrowsvg g {
  mix-blend-mode: normal;
}
/*# sourceMappingURL=index.css.map */